<!doctype html>
<html>
  <head>
  </head>
  <body>
    People Index
    <div>
      <div class=list>
    	  <ul>
      			<% people.forEach(function(person){ %>
      			<li><a href="people/<%= person.id %>"><%= person.firstname + " " + person.lastname %></a></li>
  				<% }) %>
    	   </ul>
         <a href="/people/new">Add New</a>
      </div>
    </div>
  </body>
</html>